<div class="list-group-item list-group-item-action flex-column align-items-start active">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-3">{{renderValue.FullName}} </h5>
    <small>Today {{renderValue.when | date:'hh:mm a'}}</small>
  </div>
  <div class="mb-1">
      New status:&nbsp;<strong>{{renderValue.status}}</strong>
  </div>
  <!-- <p class="mb-1">New status:<strong>{{renderValue.status}}</strong></p> -->

  <!-- <small>Donec id elit non mi porta.</small> -->
</div>