<div class="modal-header">
  <h4 class="modal-title text-primary">{{record.FirstName}}&nbsp;{{record.MiddleName}}&nbsp;{{record.SurName}}-Comment List</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="createConfirm($event)" (editConfirm)="confirmSave($event)"
    (deleteConfirm)="confirmDelete($event)"></ng2-smart-table>
</div>
<div class="modal-footer ">
  <div class="clearfix full-width">
    <button type="button" class="btn btn-raised btn-secondary float-left" (click)="c('Close click')"><i class="ft-x"></i>Close</button>

    <a class="btn btn-info btn-fab float-right" (click)="AddNewComment()">
      <i class="ft-edit"></i>Add New Commend
    </a>
  </div>

</div>