<style type="text/css">
  li,
  dd {
    line-height: 1rem;
  }

  .notex {
    font-size: 10px;
    float: right;
  }
  
</style>
<section id="grid-option">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><i class="ft-layers" ng-reflect-ng-class="ft-layers"></i> Max Funding Product</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-bordered table-striped" cellspacing="0" cellpadding="0">
                <thead>
                  <tr class="text-uppercase">
                    <th> Loan Product</th>
                    <th> Loan Term</th>
                    <th> Interest </th>
                    <th> Lending Criteria</th>
                    <th> Suitable</th>
                    <th> Features</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="small">
                    <td class="text-center small">
                      Fast Business Loan
                      <br> $1,000 - $50,000
                    </td>
                    <td class="text-center small">1 - 36 months</td>
                    <td class="text-center small">From 1.8% monthly</td>
                    <td class="text-center small">Own vehicles and/or properties*</td>
                    <td rowspan="2" class="small" style="margin: 0px;padding: 0px;">
                      <ul class="list-style-square" style="margin-top:35% ">
                        <li>Phasellus iaculis neque</li>
                        <li>Ac tristique libero volutpat at</li>
                      </ul>
                    </td>
                    <td>
                      <ul class="list-style-square small">
                        <li>Eligible for Line of Credit*</li>
                        <li>No Financials</li>
                        <li>No upfront fee</li>
                        <li>High LVR OK</li>
                        <li>Bad credit considered</li>
                        <li>Early pay out save interest</li>
                        <li>Interest tax deductable</li>
                        <li>Same Day Funding</li>
                      </ul>
                    </td>
                  </tr>
                  <tr class="small">
                    <td class="text-center small">
                      Fast Business Loan
                      <br> $1,000 - $50,000
                    </td>
                    <td class="text-center small">1 - 36 months with optional extension<br> block,up to 36 months</td>
                    <td class="text-center small">From 1.8% monthly</td>
                    <td class="text-center small">Properties*</td>
                    <td>
                      <ul class="list-style-square small">
                        <li>Eligible for Line of Credit*</li>
                        <li>No Financials</li>
                        <li>Internal Legal Team</li>
                        <li>Flexible payment plan</li>
                        <li>Fastest Settlements</li>
                        <li>Bad credit considered</li>
                        <li>Interest tax deductable</li>
                        <li>Early payout to save interest</li>
                      </ul>
                    </td>
                  </tr>
                  <tr class="small">
                    <td class="text-center small">
                      Fast Business Loan
                      <br> $1,000 - $50,000
                    </td>
                    <td class="text-center small">1 - 12 months</td>
                    <td class="text-center small">From 3% monthly - Based on Risk </td>
                    <td>
                      <ul class="list-style-square small">
                        <li>Monthly sales $6,000</li>
                        <li>Good Credit</li>
                        <li>Fixed lease remaining</li>
                      </ul>
                    </td>
                    <td>
                      <ul class="list-style-square small">
                        <li>Established business, minimum 6 months operational</li>
                        <li>All industry welcome</li>
                      </ul>
                    </td>
                    <td>
                      <ul class="list-style-square small">
                        <li> pay out save interest</li>
                        <li>Daily repayment deduction (Mon-Fri)</li>
                        <li>Interest tax deductable</li>
                        <li>No Asset Required</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <i class="fa fa-bar-chart-o"></i> Business Commission</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <table class="table table-striped table-inverse table-bordered">
              <thead>
                <tr>
                  <th>LOAN RANGE</th>
                  <th>COMMISSION*</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>$1,000 - $10,000</td>
                  <td style="background-color: #8BC34A">10% or min.$300</td>
                </tr>
                <tr>
                  <td>$10,001 - $30,000</td>
                  <td style="background-color:#8BC34A">6% or min.$1,000</td>
                </tr>
                <tr>
                  <td>$30,001 - $500,000+</td>
                  <td style="background-color: #8BC34A">4% or min.$1,800</td>
                </tr>
                <td colspan="2">
                  <p class="notex">Rate is calculated based on settled cash amount.
                    <br>*Whichever is higher; all commission includes GST.</p>
                </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>