<div class="row">
  <div class="col-md-6">
    <!--List Group starts-->
    <section id="list">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <i class="ft-layout" ng-reflect-ng-class="ft-layout"></i> Start Referral</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group or">
              <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="text-uppercase card-title">Client Submit</h5>
                </div>
                <p class="mb-3">Copy and email your unique online form link to your client to complete.</p>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="form-group">
                    <a class="input-group mb-0" href="javascript:void(0);"  ngbTooltip="Click to copy link."  placement="top" [appClickToCopy]='copyRefNormal'>
                      <input #copyRefNormal aria-describedby="button-addon4" class="form-control small" disabled placeholder="Button on right"
                        type="text" value="https://maxloans.com.au/app?p={{User.trackID}}">
                      <div class="input-group-append">
                        <span class="input-group-btn" id="button-addon4">
                          <button class="btn btn-raised btn-primary" type="button" 
                           >
                            <i class="fa fa-clone"></i>
                          </button>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <div class="text-center">
                <div class="mt-1 mb-1 text-danger font-medium-3"><b>OR</b></div>
              </div>
              <li class="list-group-item list-group-item-action flex-column align-items-start ">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="text-uppercase card-title">Referrer Submit</h5>
                </div>
                <p class="mb-3">Complete the application for your client.
                  <br/>You would need your client’s contact, asset and business information.</p>
                <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                  <!-- <fieldset class="form-group">
                    <div class="input-group">
                      <input #copyRef1 aria-describedby="button-addon4" class="form-control small" disabled placeholder="Button on right" type="text"
                        value="https://maxloans.com.au/application/restart?Purpose=Business&partner={{User.trackID}}&agent=true">
                      <div class="input-group-append">
                        <span class="input-group-btn" id="button-addon4">
                          <button class="btn btn-raised btn-primary" type="button" [appClickToCopy]='copyRef1' ngbTooltip="Click to copy link." placement="top">
                            <i class="fa fa-clone"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </fieldset> -->
                  <button class="btn btn-raised btn-success btn-start mb-2" (click)='StartApplication()'>Start Application <i class="fas fa-external-link-alt"></i> </button>
                </div>
              </li>
            </ul>
            <p class="mt-3">To save you time, why not integrate the online form into your website. It easy!
              <a routerLink='/referral-integration'>
                View integration options.</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--List Group starts-->
  </div>
</div>