<div class="modal-header">
  <h4 class="modal-title text-primary"><i class="fa fa-cog mr-2"></i>&nbsp;Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]='pswForm'>
    <div class="form-group">
      <div class="col-md-12">
        <input type="password" class="form-control" id="old_password" placeholder="Old Password" name="old_password" formControlName='old_password'
          [(ngModel)]='items.old_password'>
        <small class="form-text text-muted danger" *ngIf="pswForm.controls.old_password.invalid && (pswForm.controls.old_password.dirty || pswForm.controls.old_password.touched)">Please enter a valid password!</small>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <input type="password" class="form-control" id="password" placeholder="New Password" name="password" formControlName='password'
          [(ngModel)]='items.password'>
        <small class="form-text text-muted danger" *ngIf="pswForm.controls.password.invalid && (pswForm.controls.password.dirty || pswForm.controls.password.touched)">Please enter a new password!</small>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <input type="password" class="form-control" id="password2" placeholder="Confirrm New Password" name="password2" formControlName='password2'
          [(ngModel)]='items.password2'>
        <small class="form-text text-danger" *ngIf="pswForm.controls.password2.invalid && (pswForm.controls.password2.dirty || pswForm.controls.password2.touched)">Confirm password do not match new password!</small>
      </div>
    </div>
    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                                    <input type="checkbox" class="custom-control-input" checked id="rememberme">
                                    <label class="custom-control-label float-left white" for="rememberme">Remember Me</label>
                                </div>
                            </div>
                        </div>
                    </div> -->

   <!--  <div class="form-group">
      <div class="col-md-12">
        <button type="button" (click)='onSubmit()' [disabled]="!pswForm.valid" class="btn btn-block btn-success">Submit</button>
      </div>
    </div> -->
  </form>
</div>
<div class="modal-footer ">
 <!--  <button type="button" class="btn btn-outline-primary float-left" (click)="c('Close click')">Close</button>
  <button type="button" (click)='onSubmit()' class="btn btn-raised btn-success" [disabled]="!pswForm.valid || !pswForm.dirty">
    <i class="far fa-check-square"></i> Submit
  </button> -->
  <div class="full-width cleaxfix">
    <button type="button" class="btn btn-raised btn-secondary float-left" (click)='d("Close")'>
      <i class="ft-x"></i> Close
    </button>
    <button type="button" (click)='onSubmit()' class="btn btn-raised btn-success float-right" [disabled]="!pswForm.valid || !pswForm.dirty">
      <i class="far fa-check-square"></i> Submit
    </button>
  </div>
    
</div>