    
.table-feature{
    .table{
        font-size: 14px;
        display: block;
    }
    a{
       // color: #1e75bc;
    }
}
.ng2-smart-page-link.page-link{
    line-height: 17px;
}
.card{
    overflow-x: auto;
}