<h4 class="card-title mt-3 mb-1  text-primary">
    <i class="fa fa-download"></i> Add Banner to your website</h4>
<div class="row mb-3">
    <div class="col-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card" *ngFor='let banner of banners'>
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="{{banner.imgurl}}" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title light brown mb-3">{{banner.title}}</h4>
                            <p class="card-text">
                                <small>{{banner.subtitle}}</small>
                            </p>
                            <a href="{{banner.download}}" class="card-link blue">Download Set</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="referral-asset/images/next-big-idea-520x272.png" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title light brown mb-3">Next big idea</h4>
                            <p class="card-text">
                                <small>Sizes: 400x120, 441x220, 520x272, 810x810, 1200x672.</small>
                            </p>
                            <a href="https://maxloans.com.au/referral-public/img/banner/next-big-idea.zip" class="card-link blue">Download Set</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="referral-asset/images/5mins-520x272.png" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title brown mb-3">Same day funding</h4>
                            <p class="card-text ">
                                <small>Sizes: 400x120, 441x220, 520x272, 810x810, 1200x672.</small>
                            </p>
                            <a href="https://maxloans.com.au/referral-public/img/banner/5mins.zip" class="card-link blue">Download Set</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="referral-asset/images/fast-funding-521x272.png" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title brown mb-3">Fast funding</h4>
                            <p class="card-text">
                                <small>Sizes: 400x120, 441x220, 520x272, 810x810, 1200x672.</small>
                            </p>
                            <a href="https://maxloans.com.au/referral-public/img/banner/fast-funding.zip" class="card-link blue">Download Set</a>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <img class="card-img-top img-fluid" src="referral-asset/images/opportunity-521x272.png" alt="Card image cap" />
                    <div class="card-block">
                        <h4 class="card-title brown">Never miss an opportunity</h4>
                        <p class="card-text">
                            <small>Sizes: 400x120, 441x220, 520x272, 810x810, 1200x672.</small>
                        </p>
                        <a href="https://maxloans.com.au/referral-public/img/banner/opportunity.zip" class="card-link blue">Download Set</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>