<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">
          <i class="fa fa-th-large"></i>&nbsp;Snapshot</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              Pending Commission:
              <strong class="text-primary">{{userCommission?.summary.pending|currency:"$":'symbol':'0.0'}}</strong>
            </div>
            <div class="col-md-6">
              Received Commission:
              <strong class="text-primary">{{userCommission?.summary.paid|currency:"$":'symbol':'0.0'}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">
          <i class="fa fa-th-large"></i>&nbsp;Team Earning</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              Pending Commission:
              <strong class="text-primary">{{userCommission?.summary.team.paid|currency:"$":'symbol':'0.0'}}</strong>
            </div>
            <div class="col-md-6">
              Received Commission:
              <strong class="text-primary">{{userCommission?.summary.team.paid|currency:"$":'symbol':'0.0'}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">
          <i class="fa fa-th-large"></i>&nbsp;Pending Commission</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="table-responsive">
            <ng2-smart-table [settings]="PendingCommissionTableSettings" [source]="PendingCommissionTableSource"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-primary">
          <i class="fa fa-th-large"></i>&nbsp;Received Commission</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="table-responsive">
            <ng2-smart-table [settings]="ReceivedCommissionTableSettings" [source]="ReceivedCommissionTableSource"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>